@using ThreePoint.Core.Enities.ServiceModel
@model List<ThreePoint.Core.ViewModel.DropDownAdminViewModel>
@{
    Layout = null;
    DropDownOrSelectModel whatModel = ViewBag.WhatModel;
}

@if (Model != null)
{
    @if (whatModel == DropDownOrSelectModel.DropDown)
    {
        @foreach (var item in Model)
        {
            <li><a href="#" data-id="@item.Id" data-name="@item.Name" onclick="selectAdmin(this)">@item.Name</a></li>
        }
    }
    else
    {
        <option value="">
            请选择
        </option>
        @foreach (var item in Model)
        {
            <option value="@item.Id">
                @item.Name
            </option>
        }
    }
}
else
{
    @if (whatModel == DropDownOrSelectModel.Select)
    {
        <option value="">
            请选择
        </option>
    }
}