@using System.Collections.Generic
@using ThreePoint.Core.Enums
@using ThreePoint.Core.ServerModels
@using ThreePoint.Core.Extensions

@{
    List<MenuDto> menus = ViewBag.Menus;
}

<div id="jquery-accordion-menu" class="jquery-accordion-menu white" style="overflow:auto;height:600px;">
    <div class="jquery-accordion-menu-header" id="form"></div>
    <ul id="demo-list">
        <li class="active"><a href="#" data-id="home" data-value="首页" data-url="/Home/Welcome"
                onclick="newTabs(this)"><i class="fa fa-home"></i>Home </a></li>

        @if (menus != null)
        {
            @*一级目录开始*@
            foreach (var module in menus.OrderBy(x => x.Order).Where(item => item.Type == MenuType.Module))
            {
                <li>
                    <a href="#">
                        <i class="@(module.Icon.IsBlank() ? "glyphicon glyphicon-wrench" : module.Icon)"></i>
                        @module.Name
                    </a>
                    <ul class="submenu">
                        @*二级目录开始*@
                        @foreach (var menu in menus.OrderBy(x => x.Order).Where(item => item.ParentId == module.Id))
                        {
                            var hasThirdMenu = menus.Any(x => x.ParentId == menu.Id);
                            @if (hasThirdMenu)
                            {
                                <li>
                                    <a href="#">
                                        <i class="@(menu.Icon.IsBlank() ? "glyphicon glyphicon-wrench" : menu.Icon)"></i>
                                        @menu.Name
                                    </a>
                                </li>

                                <ui class="submenu">
                                    @*三级目录开始*@
                                    @foreach (var thirdMenu in menus.OrderBy(x => x.Order).Where(x => x.ParentId == menu.Id))
                                    {
                                        <li>
                                            <a href="#" data-id="@thirdMenu.Id" data-value="@thirdMenu.Name" ata-url="@thirdMenu.Url"
                            onclick="newTabs(this)">
                                                <i class="@(thirdMenu.Icon.IsBlank() ? "glyphicon glyphicon-wrench" : menu.Icon)"></i>
                                                @thirdMenu.Name
                                            </a>
                                        </li>
                                    }
                                </ui>
                            }
                            else
                            {
                                <li>
                                    <a href="#" data-id="@menu.Id" data-value="@menu.Name" data-url="@menu.Url" onclick="newTabs(this)">
                                        <i class="@(menu.Icon.IsBlank() ? "glyphicon glyphicon-wrench" : menu.Icon)"></i>
                                        @menu.Name
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        }
    </ul>
    <div class="jquery-accordion-menu-footer">
        Footer
    </div>
</div>
