@using Microsoft.AspNetCore.Mvc.Rendering
@model Logicore.Core.ServerModels.MessageDto
<div class="form-group"></div>
@using (Html.BeginForm(FormMethod.Post, new { @class = "form-horizontal", name = "editform", id = "editform" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "请输入标题" })
            <span style="color: red;">@Html.ValidationMessageFor(m => m.Title)</span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contents, new { @class = "col-md-2 control-label" })
        <div class="col-sm-8">
            @Html.TextAreaFor(m => m.Contents, new {@style="height:300px", @class = "form-control", placeholder = "请输入内容" })
            <span style="color: red;">@Html.ValidationMessageFor(m => m.Contents)</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">发送给所有人</label>
        <div class="col-sm-8">
            <select id="IsToAll" name="IsToAll" class="form-control">
                <option value="false">否</option>
                <option value="true">是</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" asp-for="UserIds"></label>
        <div class="col-sm-8">
            <select id="ReceiverIds" name="ReceiverIds" class="form-control" multiple="multiple"></select>
            <span asp-validation-for="ReceiverIds"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 btn-group">
            <button type="reset" class="btn btn-default">重 置</button>
            <button type="submit" class="btn btn-default">发 送</button>
        </div>
    </div>
}